body {
    margin: 0;
    font-family: sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 500px;
}

table th {
    font-size: 18px;
}

table td {
    text-align: center;
}

table th, table td {
    border: 1px solid black;
    padding: 2px;
}